.sub-footer {
  @include grid-row();

  /* Block Level */
  .sub-footer__inner {
    @include grid-column(12);
    border-top: 2px solid $dark-blue;
    border-bottom: 2px solid $dark-blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    ul {
      text-align: center;
      li {
        display: block;
        a {
          text-transform: uppercase;
          color: #000;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  @include breakpoint(medium) {
    .sub-footer__inner {
      ul li {
        @include grid-column(6);
        @media (max-width: 1023px) {
          &:last-of-type{
            float: left!important;
          }
        }
      }
    }
  }

  @include breakpoint(large) {
    .sub-footer__inner {
      ul li {
        width: 20%;
      }
    }
  }
}

.siteFooter {
  font-family: Arial;
  .siteFooter__inner {
    @include grid-row();
    padding-top: 1rem;
    padding-bottom: 1rem;

    .projectBy, .participationWith {
      text-align: center;
      span, img{
        display: block;
      }
      img{width: 100px; margin-left: auto;margin-right: auto}
      @include grid-column(12);
      span {
        text-transform: uppercase !important;
        font-weight: 600;
      }
    }
    @include breakpoint(medium) {
      .projectBy, .participationWith {
        span, img{
          display: inline-block;
        }
        @include grid-column(6);
      }
      .projectBy{
        text-align: left;
      }
      .participationWith {
        text-align: right;
      }
    }
  }
}

/* end .siteFooter module */