.site-header {

  .siteSubHeader{
    .siteSubHeaderInner{
      @include grid-row();
    }
    background: transparent;
    border-top: 1px solid $dark-blue;
    border-bottom: 1px solid $dark-blue;
    .search-bar-wrap{
      text-align: center;
      form{
        position: relative;
        display: inline-block;
        input[type='search']{
          height: 32px;
          width: 250px;
          margin-top: 10px;
          margin-bottom: 10px;
          border: 1px solid $dark-blue;

        }

        button{
          position: absolute;
          top: 17.5px;
          right: 6px;
          color: $dark-blue;
          cursor: pointer;
        }
      }

    }
  }
  .site-header__inner {
    background: transparent;
    color: $dark-blue;
    .siteHeaderInnerWrap{
      @include grid-row();
      .headerText h1{
        display: none;
      }
      h1,h6{
        color: $dark-blue;
      }
    }
    padding: ($space /4) 0;
  }

  .logo {
    text-align: center;
    max-width: 200px;
  }
  .headerText{
    position: relative;
    h1, h6{color: $white;margin-bottom: 0;text-align: center}
    h6{padding-top: 0;font-weight: 600}
  }
  .site-title {
    margin-bottom: 0;
  }

  /* Modifiers */

  /* ---------------------------------------------------------- */
  /* =======================  Media Queries ======================= */
  /* ---------------------------------------------------------- */

  @include breakpoint(medium) {



  }

  @include breakpoint(large) {
    .site-header__inner{
      .logo {
        @include grid-column(3);
        text-align: left;
      }
      .headerText {
        @include grid-column(9);
        h1{
          display: block!important;margin-bottom: -10px;
        }
        h1,h6{
          text-align: right;
        }
      }
    }

    .siteSubHeader{
      .primaryMenu{
        @include grid-column(8);
      }
      .search-bar-wrap{
        @include grid-column(4);
        text-align: right;
        input[type='search']{
          float: right;
          margin-top: 14px;
          margin-bottom: 10px;
        }
        button{
          top: 21px;
        }
      }
      .primaryMenu{
        margin-top: 0.55rem;
        nav{padding-top: 0;float: left;}
        li a{
          color: $dark-blue;
          padding: 0.7rem 0.9rem;
          font-weight: 600;
          &:hover{
            background: #a5def4;
            color: $secondary-color;
          }
        }
      }
    }
  }

}
.menu .active>a{
  background: none;
}
.primaryMenu .menu .active>a{
  background: #a5def4;
  color: $secondary-color!important;
}

@media (max-width: 1023px) {
  .logo{
    margin-right: auto;
    margin-left: auto;
  }
}
.menu a{
  font-family: $header-font-family;
}
.frontPageTitleBar__wrap{
  font-family: Arial;
}

.title-bar{
  background: $dark-blue;
}