.contact-page-wrap{
  .contact-page__content{
    @include grid-row();
    .contact-page__content__inner{

      main{
        background: $white;
        @include grid-column(12);
        padding: 1.3rem;
        h1{
          @include grid-column(12);
        }
        ul{
          list-style: none;
          margin-left: 0;
        }
      }
      @include breakpoint(large){
        @include grid-column-offset(1);
        @include grid-column(10);
        ul li{
          @include grid-column(6);
        }
      }
      .form-section{

      }
      .info-section{

      }
    }
  }
}