.frontpage-content-wrap{
  @include grid-row();
  .frontpage-content-inner{
    a{color: $black;}
    @include grid-column(12);
    background: #fff;
    .banner-wrap{
      @include grid-row();
      .banner-wrap-inner{
        @include grid-column(12);
        padding-top: 0.5rem;
        h1{
          color: $dark-blue;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
  @include breakpoint(large){
    margin-top: 2rem;
  }
}

//Title bars
.frontPageTitleBar__wrap{
  @include grid-row();
  .frontPageTitleBar__inner{
    @include grid-column(12);
    margin-bottom: 1rem;
    #sustainable{
      background: #29c3ec;
      .text-inner{
        color: #fff;
        @include breakpoint(medium){
          width: 390px;
        }
      }
    }
    #news{
      background: $green;
      .text-inner{
        color: $green;
      }
    }
    #papers{
      background: $orange;
      .text-inner{
        color: $orange;
      }
    }
    #articles{
      background: $yellow;
      .text-inner{
        color: $yellow;
      }
    }
    .bar{
      width: 100%;
      overflow: hidden;
    }
    .text-wrapper{
      display:inline-block;
      background: $dark-blue;
      padding-left: 10px;
      padding-right: 10px;
      transform: skewX(-25deg);
      margin-left: -10px;
      font-weight: 600;
    }
    .text-inner{
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1rem;
      padding: 5px;
      transform: skewX(25deg);
      width: 245px;
      padding-left: 20px;
    }
  }
}

.featuredMain__wrap{
  @include grid-row();
  .featuredMain__inner{
    @include grid-column(12);
    .featured-item.item-1 .imgWrap img{
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    .featured-item{
      position: relative;
      margin-bottom: 2rem;
      &.item-1{
        h3{
          line-height: 24px!important;
          display: block!important;
          -webkit-line-clamp: 3!important;
        }

      }
      .title, .colour-bar{
        z-index: 1;
      }
      .darken-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      h3{
        text-transform: uppercase;
        font-weight: 600;
        font-family: $headerFontFamily;
        font-size: 1.3rem;
        //overflow: hidden;
        //display: -webkit-box;
        //-webkit-line-clamp: 4;
        //-webkit-box-orient: vertical;
        line-height: 20px;
      }

      h3,p{
        margin-bottom: 0;
      }
      p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
      .title{
        height: 125px;
        padding: 10px;
      }
      .colour-bar{
        height: 20px;
      }
      p{color: $white;font-family: $bodyFontFamily;line-height: 20px;margin-top: 3px;}
      .imgWrap{
        height:240px;
      }
    }
    @include breakpoint(medium){
      .featured-item{
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        float: left;
      }
    }
    @include breakpoint(large){
      .featured-item{
        width: 25%;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .featured-item:nth-of-type(1){
      h3{
        color: $white;
      }
      .colour-bar {
        background: $white;
      }
      .title{
        background: $dark-blue;
      }
    }
    .featured-item:nth-of-type(2){
      .title{
        background: $green;

      }
      h3{
        color: #fff;
      }
      .colour-bar{
        background: #91c449;
      }
    }
    .featured-item:nth-of-type(3){
      .title{
        background: $orange;

      }
      h3{
        color: #fff;
      }
      .colour-bar{
        background: #db492d;
      }
    }
    .featured-item:nth-of-type(4) {
      .title{
        background: $yellow;

      }
      h3{
        color: #fff;
      }
      .colour-bar{
        background: #f1af38;
      }
    }
  }
}

.featuredItemGeneric{
  padding-bottom: 1rem;
  @include grid-column(12);
  h3{
    //text-align: center;
    color: #000!important;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.40rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 21px;
  }
  .imageWrap{
    height: 10rem;
    width: 100%;
    -webkit-background-size: cover!important;
    background-size: cover!important;
    margin-bottom: 8px;
    @include breakpoint(large){
      height: 12rem;
      @media(min-width: 1200px){
        height: 14rem;
      }
    }
  }
  img{
    padding-bottom: 12px;
  }
  p{
    color: #000!important;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 17px;
    @include breakpoint(large){
      -webkit-line-clamp: 8;
    }
  }
}
@include breakpoint(medium){
  .featuredItemGeneric{
    @include grid-column(6);
    &:last-of-type{
      margin-right: 25%;
    }
  }
}
@include breakpoint(large){
  .featuredItemGeneric{
    @include grid-column(4);
    &:last-of-type{
      margin-right: 0;
    }
  }
}

.featuredNews__wrap{
  .featuredNews__inner{
    @include grid-row();
  }
}

.homepage__banner{
  @include grid-row();
  margin-bottom: 1rem;
  .homepage__banner__inner{
    @include grid-column(12);
    .content{
      background: url("/images/windmill-banner-2.jpg") no-repeat center center;
      background-size: cover;
      padding: 1.5rem;
      @media (max-width: 940px) {
        //background-image: url("/images/windmill-full.jpg");
      }
      p{
        color: $white;
        font-size: 1.22rem;
        font-family: proxima-nova;
        margin-bottom: 0;
        @include breakpoint(medium){
          font-size: 1.55rem;
          max-width: 85%;
        }
        @include breakpoint(large){
          font-size: 1.75rem;
          max-width: 70%;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .homepage__banner__inner{margin-top: 1.5rem;}
}

.siteIntro{
  padding-bottom: 1.5rem;
  @include grid-row();
  .siteIntro__inner{
    @include grid-column(12);
    h3{
      font-weight: bold;
      margin-bottom: 5px;
    }
    ul{
      margin-bottom: 0;
      li{
        font-size: 1.1rem;
      }
    }
    .listWrap{
      @include grid-row();
      @include breakpoint(medium){
        .col{@include grid-column(6)}
      }
    }
  }
}