/* Site Main / Content */

.site-main {
  h2,
  .entry-meta {

  }
}

/* General */

.entry-meta {
  margin-bottom: 1.25rem;
}

.vcard {
  display: inherit;
  padding: 0;
  border: none;
  margin: 0;
}

.vcard .fn {
  font-weight: normal;
  font-size: 1rem;
}

.entry-content p {
  margin-bottom: 1.25rem;
}

.single-post-navigation,
.posts-page-navigation {
  margin-top: $space;
  margin-bottom: $space;
}

.portfolio-grid {
  text-align: center;
}

@include breakpoint(large){

  .single-post-navigation {
    .nav-next {
      text-align: right;
    }
  }

}
