/* Add consistent margin and padding to 100% widget blocks */
@mixin addPadding($padding_increase_factor: 1 ) {
  padding: ($space * $padding_increase_factor) 0;
}

@mixin addContainerPadding( $padding_increase_factor: 1 ) {
  padding: ($space * $padding_increase_factor) ($space / 2);
}

@mixin addColumnPadding( $default: 1) {
  padding: 0 $default+rem;
}