.site-header {
  background: #fff;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: rgb(63,81,181);
}

.mdl-layout-title {
  img {
    max-height: 50px;
  }
}

.main-banner {
  background: url('/images/university.jpg') no-repeat center center;
  background-size: cover;

  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
