/* Gravity Forms Plugin */

.gform_wrapper {
    margin: 0;

    overflow: inherit;
}

.entry-content .gform_body li, .comment-content .gform_body li,.mu_register .gform_body li {
    margin: 0 0 0 0;
}

.gform_wrapper li.gfield_error input[type="text"], .gform_wrapper li.gfield_error input[type="url"], .gform_wrapper li.gfield_error input[type="email"], .gform_wrapper li.gfield_error input[type="tel"], .gform_wrapper li.gfield_error input[type="number"], .gform_wrapper li.gfield_error input[type="password"], .gform_wrapper li.gfield_error textarea {
    border: 1px solid #790000;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: 6px !important;
    padding: 6px 6px 4px !important;
}


.gform_wrapper .ginput_container + .gfield_description.validation_message {
    margin-top: 0 !important;
}

.gform_wrapper .top_label .gfield_description.validation_message, .gform_wrapper .gfield_description.validation_message {
    padding: 0px !important;
}


.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    margin-top: 0px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    padding-left: 0px !important;
}

.gform_wrapper div.validation_error {
    color: #790000;
    font-size: 1em !important;
    font-weight: bold;
}

/***************/
/* Gforms Error CSS Overrides */

/* Change  color of input box border on error */

.gform_wrapper li.gfield_error input[type="text"], .gform_wrapper li.gfield_error input[type="url"], .gform_wrapper li.gfield_error input[type="email"], .gform_wrapper li.gfield_error input[type="tel"], .gform_wrapper li.gfield_error input[type="number"], .gform_wrapper li.gfield_error input[type="password"], .gform_wrapper li.gfield_error textarea {
    border: 2px solid #f00 !important;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: 6px !important;
    padding: 0px !important;
}


.gform_wrapper .ginput_container + .gfield_description.validation_message {
    margin-top: 0 !important;
}

/* modify or remove field error description */

.gform_wrapper .top_label .gfield_description.validation_message, .gform_wrapper .gfield_description.validation_message {
    padding: 0px !important;
    display:none;
}


.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    margin-top: 9px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
}



/* Change color of validation text on error */
.gform_wrapper div.validation_error {
    color: #C66767;
    font-size: 1em !important;
    font-weight: bold;
    margin-bottom: 0;
    display:none;
}
.gform_wrapper .validation_message {
    color: #ff0000;
    font-weight: bold;
    letter-spacing: normal;
}

.gform_wrapper .gfield_error .gfield_label {
    color: #DF6666;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent !important;
    border: 0;
}

.gform_wrapper li.gfield_error  input {
    margin-bottom: 0px !important;
}
