figure,
img {
  max-width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 10px; /* 25px to add a bit of a border to the top and bottom */
  height: 0;
  margin-bottom: 40px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #f4f4f4;
}